# ignorar arquivos de credenciais e variáveis de ambiente
.streamlit/secrets.toml
.env

# ignorar cache do Python
__pycache__/
*.py[cod]
*$py.class

# ignorar a pasta do ambiente virtual
venv/
.venv/
env/